{% extends "index.html" %}
{% block title_tag %}Student Assignment{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'student/student_styles.css' %}">
{% endblock %}

{% block body_content %}
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'student:student' %}">Home</a></li>
                <li><a href="{% url 'student:grade' pk %}">Grade</a></li>
                <li style="float: right;"><a class="logout" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </div>
        <div id="sideNav">
            <div>
                <h3 style=" margin:0; height: 40px; line-height: 40px; padding: 5px; padding-top:0px; color: black; text-align: center; background-color: white;">{{ course.class_name }}</h3>
            </div>
            
            <ul>
                {% for assignment in assignments %}
                    <li><a href="{% url 'student:submit_answer' pk assignment.pk %}">{{ assignment.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="info">
            <h3 style="color: white; text-align: center; background-color: black;">{{ assignment.name }}</h3>
            <p>
                Name: {{ assignment.name }} <br>
                Duedate: {{ assignment.deadline }} <br>
            </p>
            <br>

            <a href="{{ assignment.pdf.url }}" target="_blank"><button>Download Assignment</button></a> <br><br> <!--this button to download pdf in new tab-->

            {% if past_due == False %}
                <button onclick="displayInputs()" id="displayB">Submit Answer</button> <!--dispaly input for answers-->
                <br>

                <form method="POST" action="{% url 'student:submit_answer' pk assignment.pk %}"> <!--form to get all the answers -->
                    {% csrf_token %}
                    <p id="inputs" style="text-align: center;">

                    </p>
                </form>
            {% endif %}
        </div>
    </div>
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div> 

    <script> 
        var count = "{{ num_q }}";
        function displayInputs()
        {
            document.getElementById("displayB").innerHTML = "CLEAR Answer";
            if(count.length != 0 && count > 0) // check if null
            {
                var info = "";
                for(var i = 1; i <= count; i++)
                {
                    info += `<label for="q`+i+`">Answer for question `+i+`:</label>
                <select id="q`+i+`" name="q`+i+`">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select><br>` ;
                }

                document.getElementById("inputs").innerHTML = info+"<input type='submit'>";
            }
            
        }
    </script>
{% endblock %}
