{% extends "index.html" %}
{% block title_tag %}Student Class{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'student/student_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'student/table.css' %}">
{% endblock %}

{% block body_content %}
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'student:student' %}">Home</a></li>
                <li><a href="{% url 'student:grade' pk %}" class="active">Grade</a></li>
                <li style="float: right;"><a class="logout" href="{% url 'accounts:logout' %}">Logout</a></li>

            </ul>
        </div>
        <div id="sideNav">
            <div>
                <h3 style=" margin:0; height: 40px; line-height: 40px; padding: 5px; padding-top:0px; color: black; text-align: center; background-color: white;">{{ course.class_name }}</h3>
            </div>
            
            <ul>
                <li><a href="#" onclick="goBack()">Go Back</a></li>
            </ul>
        </div>
        <div id="info">
            <table class="rothTable">
                <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>Raw Scores</th>
                        <th>% Scores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: lightblue;"> <!--  DO NOT REMOVE THIS PART-->
                        <td>Overall</td>
                        <td>---</td>
                        <td><!-- calculate overall --></td>
                    </tr> <!--  DO NOT REMOVE THIS PART-->

                    {% for assignment, correct, total, score in assignments %}
                        <tr>
                            <td>{{ assignment.name }}</td>
                            <td>{{ correct }}/{{ total }}</td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div>
    
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
{% endblock %}