{% extends "index.html" %}
{% block title_tag %}Answer{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'instructor/extra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'instructor/faculty_styles.css' %}">

{% endblock %}
{% block body_content %}
<body>
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'instructor:instructor' %}">Home</a></li>
                <li><a href="#" class = "active">Edit Homework</a></li>
                <li><a href="#">Edit Grade</a></li>

            </ul>
        </div>
        <div id="sideNav" style="overflow-x: hidden;">
            <h3 style="margin:0; height: 40px; line-height: 40px; padding: 5px; padding-top:0px; color: black; text-align: center; background-color: white;">
            {% for course in courses %}
                {{ course.class_name }}
            {% endfor %}
            </h3>
            <ul>
                {% for assignment in assignments %}
                    <li><a href="">{{ assignment.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div id="info" style="height: 500px; overflow-y: auto;"> <!-- main code for adding answers (above and below are inhert from faculty)-->
            
            <h3 style="color: black; text-align: center; background-color: lightgray;">Submit Answer Key</h3>

            <input type="number" name="questionCount" id="questionCount" placeholder="Enter number of question(s). " required>
            <br>
            
            <button onclick="displayInputs()">Enter</button>

            <form action="{% url 'instructor:add_answers' pk pk1 %}" class="AnswersForm" method="POST"></form>
            {% csrf_token %}
                <p id="inputs" style="text-align: center;"></p>
                
            </form>
            

        </div>  <!-- End main code -->
    </div>
  
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div> 

    <!-- script to add the answers -->
    <script> 
        function displayInputs()
        {
            var count = document.getElementById("questionCount").value;
            if(count.length != 0 && count > 0) // check if null
            {
                var info = "";
                for(var i = 1; i <= count; i++)
                {
                    info += `<label for="q`+i+`">Answer for question `+i+`:</label>
                <select id="q`+i+`" name="q`+i+`">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select><br>` ;
                }

                document.getElementById("inputs").innerHTML = info+"<input type='submit'>";
            }
            
        }
    </script>
    
</body>
</html>
{% endblock %}