{% extends "index.html" %}
{% block title_tag %}Course Detail{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'instructor/faculty_styles.css' %}">
{% endblock %}
{% block body_content %}
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'instructor:instructor' %}">Home</a></li>
                <li><a href="#">Edit Homework</a></li>
                <li><a href="#">Edit Grade</a></li>

            </ul>
        </div>
        <div id="sideNav">
            <h3 style="margin: 0; color: black; text-align: center; background-color: lightgray;">Current Course:</h3>
            <ul>
                {% for course in courses %}
                    <li><a href="{% url 'instructor:course_detail' course.pk %}">{{ course.class_name }}</a></li>
                {% endfor %} 
            </ul>

        </div>
        <div id="info">
            <h3 style="color: black; text-align: center; background-color: lightgray;">Editing Course</h3>
            <!-- <button id="editCourseButton">Edit Course</button> <br><br> -->

            <form action="" class="editCourseForm" method="POST">
                {% csrf_token %}
                <label for="courses">Choose a Course:</label>

                <select id="courses">
                    {% for course in courses %}
                        <option value="class1">{{ course.class_name }}</option>
                    {% endfor %}
                </select>

                <input type="number" id="numberE" placeholder="Course ID" required>
                <input type="text" name="classnameE" id="classnameE" placeholder="Course Name" required>
                <input type="text" name="professorNameE" id="professorNameE" placeholder="Instructor Name" required> 
                <input type="text" name="descriptionE" placeholder="Course Description (Optional)" id="descriptionE">
                <input type="submit" name="submitE" id="submitE">
            </form>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div> 

    {% block js_tag %}<script src="{% static 'instructor/faculty_home.js' %}"></script>{% endblock %}
    <a href="{% url 'accounts:logout' %}">Logout</a>

{% endblock %}
