{% extends "index.html" %}
{% block title_tag %}Course Detail{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'instructor/faculty_styles.css' %}">
{% endblock %}
{% block body_content %}
    <div id="name">
        <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
        <hr size="3">
    </div>

    <div id="container">
        <div id="topNav">
            
            <ul>
                <li><a href="{% url 'instructor:instructor' %}">Home</a></li>
                {% if c_form %}
                    <li><a href="{% url 'instructor:assignment' pk %}">Homework</a></li>
                    <li><a href="#">Grade</a></li>
                {% endif %}

            </ul>
        </div>
        <div id="sideNav">
            <h3 style="margin: 0; color: black; text-align: center; background-color: lightgray;">Current Course:</h3>
            <ul>
                {% for course in courses %}
                    <li><a href="{% url 'instructor:course_detail' pk %}">{{ course.class_name }}</a></li>
                {% endfor %} 
            </ul>

        </div>
        <div id="info">
            <h3 style="color: black; text-align: center; background-color: lightgray;">Editing Course</h3>

            {% if c_form %}
                <form action="{% url 'instructor:course_detail' pk %}" class="editCourseForm" method="POST">
                    {% csrf_token %}

                    {% render_field c_form.class_name type="text" name="classname" id="classname" placeholder="Course Name" attr="required" %}

                    {% render_field c_form.description name="description" type="text" id="description" placeholder="Course Description" attr="required" %}

                    <input type="submit" name="submit" id="submit">
                </form>
            {% else %}
                <p id="not-found">No course found.</p>
            {% endif %}

        </div>
    </div>
    <div id="footer">
        Copyright &copy; drawHW 2020
    </div> 

    {% block js_tag %}
        <script src="{% static 'instructor/faculty_home.js' %}"></script>
    {% endblock %}
    <a href="{% url 'accounts:logout' %}">Logout</a>

{% endblock %}
