{% extends "index.html" %}
{% block title_tag %}Login{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block css_tag %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">{% endblock %}

{% block body_content %}
<body>
    <div id="main">
        <div id="name">
            <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
            <hr size="3">
        </div>
        <br>
        
        <div id="footer">
            Copyright &copy; drawHW 2020
        </div> 
    </div>
    
    <div class="popSignUp" style="display: flex">
        <div id="container">
            <div class="back">+</div>    
            <script>
                // redirect the user to login page
                document.querySelector(".back").addEventListener("click", function()
                {
                    location.href = "/";
                });
            </script>        
            <img style="width: 30%; float: left;"  src="{% static 'accounts/pic/drawHW.png' %}">
            <h2 style="margin-top: 35px; color:black;">SIGN UP</h2>
            
            <div id="loginbox">
                <hr>
                <form name="login" method="POST">
                    {% csrf_token %}
                    
                    <p class="table">
                        <input type="radio" name="accountSU" value="studentSU" id="studentSU" checked> 
                        <label for="studentSU">Student</label>

                        <input type="radio" name="accountSU" value="facultySU" id="facultySU">
                        <label for="facultySU">Faculty</label>
                    </p>
                    <p class="table">
                        <label for="username">USERNAME</label><br>
                        {% render_field form.username class+="inputBox" placeholder="Username" id="usernameSU" name="usernameSU" attr="required" %}
                    </p>
                    <p class="table">
                        <label for="emailSU">EMAIL</label><br>
                        {% render_field form.email class+="inputBox" placeholder="Email address" id="emailSU" name="emailSU" attr="required" %}
                    </p>
                    <p class="table">
                        <label for="password1">PASSWORD</label><br>
                        {% render_field form.password1 class+="inputBox" placeholder="Password" id="passwordSU" name="passwordSU" attr="required" %}
                    </p>
                    <p class="table">
                        <label for="cPasswordSU">CONFIRM PASSWORD</label><br>
                        {% render_field form.password2 class+="inputBox" placeholder="Confirm Password" id="cPasswordSU" name="cPasswordSU" attr="required" %}
                        <br>
                    </p>

                    <input type="submit" name="submit" id="submit" value="Sign Up"> 
                </form>
            </div>
        </div> 
    </div>

    {% if form.errors %}
        <script>
            let e = "";
        </script>
        {% for field in form %}
            {% for error in field.errors %}
                <script>
                    e += "{{ error }}\n";
                </script>
            {% endfor %}
        {% endfor %}
        <script>
            alert(e);
        </script>
    {% endif %}

    {% block js_tag %}<script src="{% static 'accounts/functions.js' %}"></script>{% endblock %}
</body>
{% endblock %}
